
{% extends "base_generic.html" %}

{% load static %}

{% block content %}
    <header class="masthead bg-primary text-white text-center">
        
        <div class="main">
            <form method="POST">
                {% csrf_token %}
                <p>¿Estás seguro de que deseas eliminar este compositor?</p>
                <input class="btn btn-danger" type="submit" value="Eliminar" />
                <a class="btn btn-secondary" href="/composers">Cancelar</a>
            </form>
        </div>
     
    </header>
       
{% endblock %}