
{% extends "base_generic.html" %}

{% load static %}

{% block content %}
    <header class="masthead bg-primary text-white text-center pb-2">
        
        <div class="text-right w-50 d-inline-block">
            <a class="btn btn-secondary" href="{{request.META.HTTP_REFERER}}">Volver</a>
        </div>
        
        <div class="d-flex align-items-center flex-column">
            <p class="masthead-subheading font-weight-light mb-0">Información del ejercicio</p>
        </div>
        <div class="d-flex align-items-center flex-column">
            <table class="table-special">
                <tbody>
                        <tr>
                            <td>Nombre</td>
                            <td>{{ data.name }}</td>
                        </tr>
                        <tr>
                            <td>Saldo Inicial</td>
                            <td>{{ data.initialBalance }} €</td>
                        </tr>
                        <tr>
                            <td>Saldo actual</td>
                            <td>{{ data.currentBalance }} €</td>
                        </tr>
                        <tr>
                            <td>Libro de cuentas</td>
                            <td>
                                <p>{{ data.ledger }}</p>
                                <a class="btn btn-info mr-1" href="/{{ data.ledger.id }}/detail_ledger">Ver Libro</a>
                            </td>
                        </tr>
                        
                </tbody>           
            </table>
            
            <a class="btn btn-warning" href="/{{ data.id }}/update_period">Editar ejercicio</a>
            
        </div>
     
    </header>
       
{% endblock %}